
#snackbar{
  visibility: hidden;
  min-width: 250px;
  margin: 50%;
  background-color: #0095daf0; /*#0b7ba7f5;*/
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  /* bottom: 30px; */
  width: 500px;
  /*height: 300px;*/
}  

#snackbarFunds{
  visibility: hidden;
  min-width: 250px;
  margin: 50%;
  background-color: #0095daf0; /*#0b7ba7f5;*/
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  /* bottom: 30px; */
  width: 500px;
  height: 300px;
} 
#snackbarFunds.show {
  visibility: visible; /* Show the snackbar */
  font-size: 25px;
  color: white;
  font-weight: 400;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  /*-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
}

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    font-size: 20px;
    color: white;
    font-weight: 400;
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    /*-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
  }
.close-btn{
    margin-left: 450px;
    font-size: 30px;
    cursor: pointer;
}
.buy-crypto-link{
  margin:40px;
  font-size: 16px;
}
.buy-crypto-link-link{
 /* color: #8defff; */
  font-weight: 500;
  text-decoration: none;

}
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }