#currentChainText { 
    visibility: hidden; /* Hidden by default. Visible on click */
    width: 250px; /* Set a default minimum width */
    margin-left: 41%; 
    background-color: #133644; 
    color: #fff; 
    text-align: center; 
    border-radius: 8px; 
    padding: 16px; 
    /*position: fixed; /* Sit on top of the screen */
   /* z-index: 1; /* Add a z-index if needed */
    /*left: 50%; /* Center the currentChainText */
    /*bottom: 30px;*/ /* 30px from the bottom */
  }
  
  /* Show the currentChainText when clicking on a button (class added with JavaScript) */
  #currentChainText.show {
    visibility: visible; /* Show the currentChainText */
    /* Add animation: Take 0.5 seconds to fade in and out the currentChainText.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 2s; /*fadeout 0.5s 2.5s;*/
    animation: fadein 2s; /*fadeout 0.5s 2.5s; */
  }
  
  /* Animations to fade the currentChainText in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

/*LoginText*/

#loginText {
    visibility: hidden; /* Hidden by default. Visible on click */
    width: 250px; /* Set a default minimum width */
    margin-left: 41%; 
    background-color: #133644; 
    color: #fff; 
    text-align: center; 
    border-radius: 8px; 
    padding: 16px; 
    /*position: fixed; /* Sit on top of the screen */
   /* z-index: 1; /* Add a z-index if needed */
    /*left: 50%; /* Center the loginText */
    /*bottom: 30px;*/ /* 30px from the bottom */
  }
  
  /* Show the loginText when clicking on a button (class added with JavaScript) */
  #loginText.show {
    visibility: visible; /* Show the loginText */
    /* Add animation: Take 0.5 seconds to fade in and out the loginText.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 2s; /*fadeout 0.5s 2.5s;*/
    animation: fadein 2s; /*fadeout 0.5s 2.5s; */
  }
  
  /* Animations to fade the loginText in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  /*Container-second-step no mostrar en moviles*/
  @media only screen and (max-width: 650px){
    #currentChainText{ 
      width: 100px;
      margin-left: 25%;
      padding: 16px;
    }
    #loginText{
      display:hidden;
          }  
                             }                    
    /*Container-second-step-ends*/